*,
*::before,
*::after {
  transition: 0.24s all;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  @apply bg-gray-100;
}

h1,
h2,
h3 {
  @apply font-bold;
}

section {
  @apply bg-white p-4 m-1;
}

button {
  @apply cursor-pointer py-2 px-3;

  &.primary {
    @apply bg-blue-600 text-blue-100;
  }
  &.secondary {
    @apply bg-gray-700 text-gray-100;
  }
}

[draggable] {
  cursor: move;
}
