$bg-input: #edf2f7;

// input background
#app .theme--light.v-text-field--filled > .v-input__control > .v-input__slot,
// hovered table row
.theme--light.v-data-table tbody tr:hover {
  &:not(.no-highlight-bg) {
    background: $bg-input !important;
  }
}

// whitespace below select dropdown
.v-text-field__details {
  display: none !important;
}

.v-application,
.v-text-field input,
.v-select__selections {
  line-height: inherit !important;
}

.theme--light.v-application {
  background: inherit !important;
}

.v-data-table th {
  font-size: 0.875rem !important;
}

.no-highlight-bg {
  &,
  &:hover {
    background: inherit !important;
  }
}
